.formCreatePassword{
  .error{
    width: 100%;
    color:var(--error);
    font-size: 10px;
    font-family: var(--font-family);
    padding-left: 17px;
  }
  .bottom{
    font-family: var(--font-family);
    text-align: center;
    color:var(--gray);

    a{
      text-decoration: none;
      color:var(--white)
    }
  }
}