.formSMS{
  .text{
    text-align: center;
    color:var(--white);
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    font-family: Poppins;
    margin-bottom: 24px;
  }
  
  .blockCode{
    margin-bottom: 24px;
    input{
      padding-bottom: 9px;
      width: 40px;  
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
      background-color: transparent;
      border-radius: 0;
      border:none;
      border-bottom: 1px solid var(--white);
      color:var(--white);

      &:focus{
        border-bottom: 1px solid var(--white);
      }
    }
  }

  .textWithCountDown{
    line-height: 24px;
    font-style: 16px;
    text-align: center;
    color:var(--gray);
    margin-bottom: 24px;
    font-weight: 400;
    font-family: Poppins;

    .tel{
      color: var(--forgot-bottom);
      cursor: pointer;
    }
  }

  .bottom{
    font-family: var(--font-family);
    text-align: center;
    color:var(--gray);

    a{
      text-decoration: none;
      color:var(--white)
    }
  }
}