.login{
    background-color: var(--bg-black);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .grid{
        margin-bottom: 30px;
        @media (min-width:900px){
            margin-bottom: 50px;
        }
        @media (min-width:1400px){
            margin-bottom: 100px;
        }
    }
    .imageContainer{
        width: 95%;
        @media (min-width:900px){
            width: 85%;
        }
        @media (min-width:1200px){
            width: 90%;
        }
        .img{
            width: 100%;
            height: 100%;
        }
    }
}