.quiz{
  position: relative;
  background-color: var(--bg-black);
  color:var(--white);
  min-height: 1000px;

  .giftBackground{
    position: absolute;
    right: 0;
  }
  .title{
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;

    span{
      color:var(--warning-main);
    }
  }
}