.home{
  min-height: 100vh;
  background-color: grey;
  .phone{
    background-color: blue;
    padding: 10px;

    input{
      background-color: cyan;
    }
  }
  .item{
    display: block;
    background-color: #fff;
    width: 100%;
    height: 100%;
    border:1px solid #000;
  }
}