.quizCategory{
  width: 100%;
  background-color: var(--bg-form);
  padding: 12px 8px;
  font-weight: 600;
  position: relative;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  .categories{
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .tabs{
    min-height: 0;
    gap: 32px;
    .tab{
      min-height: 0;
      text-transform: none;
      padding:0 16px;
      font-size: 20px;
      font-weight: 600;
    }
  }
  
  .showCategories{
    padding: 0 8px;
    text-transform: none;
    flex-shrink: 0;
    font-weight: 400;
    font-size: 18px;
    color:var(--white);
  }
  .sort{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap:16px;
    padding-right: 16px;
    

    .filter{
      background-color: var(--button-primary);
      border-radius: 20px;
      box-shadow: none;
      text-transform: none;

      svg{
        vertical-align: middle;
      }
    }
  }

}

.categoryBox{
  display: flex;
  align-items: center;
  gap:12px;
  transition: 0.4s;
  border-radius: 8px;
  cursor: pointer;
  &:hover{
    background-color:var(--success);
  }
  .allImage{
    width:48px;
    height: 48px;
    border-radius: 8px;
    border:1px solid #D5E5FB;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img{
    width:48px;
    height: 48px;
    border-radius: 8px;
    border:1px solid #D5E5FB;
    // object-fit: cover;
    // object-position: center;
  }
  .categoryName{
    color:var(--white);
    line-height: 24px;
  }
  .categoryStream{
    color:var(--gray);
    font-size: 12px;
    line-height: 16px;

  }
}