.navbar{
  position: fixed;
  bottom: 24px;
  padding: 0 20px;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  justify-content: space-between;
  border-radius: 100px;
  width: 90%;
  backdrop-filter: blur(8px);
  border:0.2px solid rgba(255,255,255,0.2);

  @media (min-width:900px){
    width: 80%;
  }
  .left,.middle,.right{
    display: flex;

    @media (min-width:860px){
      gap:8px;
    }
  }
  .button{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 0;

    svg{
      vertical-align: middle;
    }

    a{
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      padding: 8px 12px;

      &[class="active"]{
        background-color: rgba(255,255,255,0.04);
        backdrop-filter: blur(8px);
        padding-bottom: 5px;
        border-bottom: 3px solid var(--gray);
      }
    }
    span{
      color:var(--white);
      font-size: 10px;
      line-height: 12px;
      font-weight: 400;
    }
  }
  .popup{
    padding: 8px 12px;
  }
}