.detail{
  background-color: var(--bg-black);
  color:var(--white);
  min-height: 900px;

  .giftBackground{
    position: absolute;
    right: 0;
  }
  .company{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 32px;
    margin-bottom: 24px;
    h5{
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 2px;
      font-weight: 600;
    }
    p{
      color:var(--gray);
    }
  }

  .icons{
    display: flex;
    gap:36px;
    flex-wrap: wrap;
    margin-bottom: 24px;
  }

  .card{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 32px;
    border-radius: 18px;
    background-color:var(--bg-form);

    .cardTitle{
      font-weight: 700;
      font-size: 20px;
      margin-bottom: 15px;
      
      @media (min-width:1536px){
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 24px;
      }
    }

    .description{
      color:var(--gray);
      margin-bottom: 24px;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 15px;

      @media (min-width:1536px){
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 24px;
      }      
    }

    .conditions{
      font-size: 18px;
      margin-bottom: 10px;

      @media (min-width:1536px){
        font-size: 24px;
        margin-bottom: 20px;
      } 
    }
    ul{
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;

      li{
        width: 40%;
        color:var(--gray);
        font-size: 14px;
        line-height: 24px;
        position: relative;
        padding-left: 22px;
        
        &::before{
          content: "";
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-image: linear-gradient(to bottom,var(--button-top),var(--button-bottom));
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
        @media (min-width:1536px){
          font-size: 16px;
          line-height: 28px;
        }
      }

      
    }

    .friends{
      margin-top: auto;
      display: flex;
      flex-direction: column;
      background-color:red;
    }
  }
}