.formFillDetails{
  font-weight: normal;

  .popup{
    width: 100%;
    border: 1px solid var(--gray);
    border-radius: 6px;
    padding: 16.5px 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:var(--white);
    cursor:pointer;
  }
 
}
.genderOption{
  width: 364px;
  padding: 16.5px 14px;
  cursor: pointer;
  border: 1px solid var(--gray);
  border-radius: 6px;
  &:hover{
    background-color: var(--main);
  }
  &:first-of-type{
    margin-bottom: 24px;
  }
}