.signupDetails{
  margin-bottom: 100px;

  .space{
    font-weight: normal;
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  .star{
    width: 150%;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}